@import "./global.scss";

body {
  height: 100%;
    display: flex;
    background: url(../../images/spiderman-thumb.svg) no-repeat  center;
    object-fit: scale-up;
    background-size: cover;

    section#menu {
      min-width: 10rem;
      background-color: $dark-container;

      > aside {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem;

        #profile {
          #profilePicture {
            margin-bottom: 11rem;
          }

          #socialMediasContainer {
            .social-medias {
              .social-media {
                text-align: center;
  
                &:not(:last-child) {
                  margin-bottom: 8rem;
                }
              }
            }
          }
        }

        .search-container {
          text-align: center;
          margin-bottom: 4.7rem;
        }
      }
    }


    section#mainContent {
      flex-grow: 1;
      background:  linear-gradient(90deg, rgba(11, 12, 16, 0.6) 0%, rgba(11, 12, 16, 0.4) 52.08%, 
      rgba(12, 12, 16, 0.6) 100%) ;

      #mainHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //margin: 0 25.3rem 0 15.2rem;
        padding: 2.2rem 0;
        background-color: $dark-container;

        #index {
          margin-left: 25.3rem;
        }

        > nav {
          margin-right: 15.3rem;
          #navLinks {
            display: flex;
            align-items: center;
            .nav-link {
              font-size: 2rem;

              &:not(:last-child) {
                margin-right: 5.8rem;
              }
            }
          }
        }
      }

      main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 105px);

        #spidermanMilesMorales {
          > img {
            display: block;
          }
          
          #watchTrailer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: min(35rem, 90%);
            height: 7rem;
            background-color: $neutral-dark;
            border: 2px solid $red;
            margin: 4rem auto 0;
            border-radius: 16px 0 0 0 ;

            > p {
              font-weight: 600;
              font-size: 2rem;
              margin-right: 2rem;
            }
          }
        }
      }
    }
}
