@import "./global.scss";
@mixin hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  background: url(../../images/spiderman-thumb.svg) no-repeat  center;
  background-size: cover;

    section#menu {
      min-width: 10rem;
      background-color: $dark-container;

      > aside {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem;

        #profile {
          #profilePicture {
            margin-bottom: 11rem;
          }

          #socialMediasContainer {
            .social-medias {
              .social-media {
                text-align: center;
  
                &:not(:last-child) {
                  margin-bottom: 8rem;
                }
              }
            }
          }
        }

        .search-container {
          text-align: center;
          margin-bottom: 4.7rem;
        }
      }
    }


    section#mainContent {
      flex-grow: 1;
      background:  linear-gradient(90deg, rgba(11, 12, 16, 0.6) 0%, rgba(11, 12, 16, 0.4) 52.08%, 
      rgba(12, 12, 16, 0.6) 100%) ;

      #mainHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.2rem 0;
        background-color: $dark-container;

        #index {
          margin-left: 25.3rem;
        }

        > nav {
          margin-right: 15.3rem;
          #navLinks {
            display: flex;
            align-items: center;
            .nav-link {
              font-size: 2rem;

              &:not(:last-child) {
                margin-right: 5.8rem;
              }
            }
          }

          #mobileMenu{
            @include hide
          }
        }
      }

      main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 105px);

        #spidermanMilesMorales {
          > img {
            display: block;
            width: min(57rem, 80%);
            margin: auto;
          }
          
          #watchTrailer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: min(35rem, 70%);
            height: 7rem;
            background-color: $neutral-dark;
            border: 2px solid $red;
            margin: 4rem auto 0;
            border-radius: 16px 0 0 0 ;

            > p {
              font-weight: 600;
              font-size: 2rem;
              margin-right: 2rem;
            }
          }
        }
      }
    }
}


@media(max-width: 1024px) {
  body {
    display: block;

    section#menu {
      @include hide
    }

    section#mainContent {
      height: 100vh;
      #mainHeader {
        #index {
          margin: 0;
          margin-left: 5rem;
        }

        > nav {
          margin: 0;

          #navLinks {
            @include hide
          }

          #mobileMenu {
            display: block;
            visibility: inherit;
            opacity: 1;

            > img {
              width: 4rem;
              margin-right: 5rem;
            }
          }
        }
      }

      main {
        #spidermanMilesMorales {
          #watchTrailer {
            > p {
              font-size: 1.4rem;
            }
          }
        }
      }
      
    }
  }
}