* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Sora", sans-serif;
  color: #F9F9F9;
}

html {
  font-size: 62.5%;
}
html body {
  width: 100%;
  height: 100vh;
}
html body button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #F9F9F9;
}
html body ul, html body ol {
  list-style-type: none;
}
html body a {
  text-decoration: none;
  color: #F9F9F9;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  background: url(../../images/spiderman-thumb.svg) no-repeat center;
  background-size: cover;
}
body section#menu {
  min-width: 10rem;
  background-color: rgba(29, 29, 29, 0.5);
}
body section#menu > aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
}
body section#menu > aside #profile #profilePicture {
  margin-bottom: 11rem;
}
body section#menu > aside #profile #socialMediasContainer .social-medias .social-media {
  text-align: center;
}
body section#menu > aside #profile #socialMediasContainer .social-medias .social-media:not(:last-child) {
  margin-bottom: 8rem;
}
body section#menu > aside .search-container {
  text-align: center;
  margin-bottom: 4.7rem;
}
body section#mainContent {
  flex-grow: 1;
  background: linear-gradient(90deg, rgba(11, 12, 16, 0.6) 0%, rgba(11, 12, 16, 0.4) 52.08%, rgba(12, 12, 16, 0.6) 100%);
}
body section#mainContent #mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0;
  background-color: rgba(29, 29, 29, 0.5);
}
body section#mainContent #mainHeader #index {
  margin-left: 25.3rem;
}
body section#mainContent #mainHeader > nav {
  margin-right: 15.3rem;
}
body section#mainContent #mainHeader > nav #navLinks {
  display: flex;
  align-items: center;
}
body section#mainContent #mainHeader > nav #navLinks .nav-link {
  font-size: 2rem;
}
body section#mainContent #mainHeader > nav #navLinks .nav-link:not(:last-child) {
  margin-right: 5.8rem;
}
body section#mainContent #mainHeader > nav #mobileMenu {
  display: none;
  visibility: hidden;
  opacity: 0;
}
body section#mainContent main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 105px);
}
body section#mainContent main #spidermanMilesMorales > img {
  display: block;
  width: min(57rem, 80%);
  margin: auto;
}
body section#mainContent main #spidermanMilesMorales #watchTrailer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(35rem, 70%);
  height: 7rem;
  background-color: #1D1D1D;
  border: 2px solid #EC111A;
  margin: 4rem auto 0;
  border-radius: 16px 0 0 0;
}
body section#mainContent main #spidermanMilesMorales #watchTrailer > p {
  font-weight: 600;
  font-size: 2rem;
  margin-right: 2rem;
}

@media (max-width: 1024px) {
  body {
    display: block;
  }
  body section#menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  body section#mainContent {
    height: 100vh;
  }
  body section#mainContent #mainHeader #index {
    margin: 0;
    margin-left: 5rem;
  }
  body section#mainContent #mainHeader > nav {
    margin: 0;
  }
  body section#mainContent #mainHeader > nav #navLinks {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  body section#mainContent #mainHeader > nav #mobileMenu {
    display: block;
    visibility: inherit;
    opacity: 1;
  }
  body section#mainContent #mainHeader > nav #mobileMenu > img {
    width: 4rem;
    margin-right: 5rem;
  }
  body section#mainContent main #spidermanMilesMorales #watchTrailer > p {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=index.css.map */
